<header class="fixed">
  <div class="wrapper">
    <button id="menu-btn"><i class="fas fa-bars"></i></button>
    <h1 class="title"><%- theme.title %></h1>
    <button id="search-btn"><i class="fas fa-search"></i></button>
  </div>
</header>
