<aside id="search">
  <div class="wrapper">
    <header>
      <input type="text" id="search-input" placeholder="Input And Enter To Search">
      <button class="close"><i class="fas fa-times"></i></button>
    </header>
    <div id="search-result"></div>
    <%- partial("partial/back-to-top.ejs") %>
  </div>
</aside>
