// color
$primary-color: rgba(221, 76, 79, 1);
$black-color: rgba(85, 85, 85, 1);
$grey-color: rgba(163, 171, 179, 1);
$light-grey-color: rgba(239, 239, 239, 1);
$white-color: rgba(255, 255, 255, 1);
// font-size
$base-length: 3.125rem;
